.exercises-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  input[type="text"],
  textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: rgb(0, 38, 255);
    color: #f3f1f1;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }