/* LoginForm.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input {
  font-size: 16px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  font-size: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  font-size: 16px;
  color: #ff0000;
  margin-top: 20px;
  text-align: center;
}

.success-message {
  font-size: 16px;
  color: #008000;
  margin-top: 20px;
  text-align: center;
}
.login-box { /* Nueva clase para el marco */
  border: 2px solid #000000; /* Borde azul */
  padding: 20px; /* Espaciado adicional */
  border-radius: 10px; /* Redondez de los bordes */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}
