.modal-overlay {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.close-button {
  background-color: #9cc9e6;
  color: #f5f0f0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #2ea4ed;
  cursor: pointer;
}