/* Container styles */
.container-routines-page {

  flex-direction: column;
  align-items: center;
}

/* Buttons */
button {
  background-color: rgb(0, 38, 255);
  color: #faf7f7;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: rgb(0, 38, 255);
}

button:disabled, button[disabled] {
  background-color: rgb(185, 39, 39);
}

/* Tables */
table {
  background-color: #fff;
  width: 100%; /* Make the table width 100% of the container */
  margin: 0; /* Remove the margin to make it edge-to-edge */
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  text-align: center;
}

table th {
  background-color: rgb(0, 38, 255);
  font-weight: bold;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #fff;
}

/* Form inputs */
input, textarea {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Images inside tables */
table img {
  max-width: 100%;
}

/* Tables */
table {
  background-color: #fff;
  width: 100%;
  max-width: 100%; /* Modificar el ancho máximo para ajustar a la página */
  text-align: center;
  border-collapse: collapse;
}

table th, table td {
  padding: 10px;
  text-align: left;
  text-align: center;

}

table th {
  background-color: rgb(0, 38, 255);
  font-weight: bold;
  text-align: center;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #fff;
}

.Buttonregistro {
  text-align: center;
}

.TextoRoutines{
  text-align: center;
  color: #fff;
}
